<nav class="menu-drawer">
  <div class="drawer-header">
    <h2>{{ 'menu.title' | translate }}</h2>
    <ax-button variant="icon" (click)="onClose()" class="close-button">
      <ax-icon name="close" class="close-icon"></ax-icon>
    </ax-button>
  </div>

  <mat-nav-list class="menu-nav-list">
    @for (item of menuItems; track item.route) {
      <a mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="onClose()">
        <ax-icon [name]="item.icon" matListItemIcon></ax-icon>
        <span matListItemTitle>{{ item.label | translate }}</span>
      </a>
    }
  </mat-nav-list>
</nav>
