<div class="logout-confirm-dialog">
  <h2 mat-dialog-title class="dialog-title">
    <ax-icon name="logout" class="title-icon"></ax-icon>
    {{ 'logout.confirmTitle' | translate }}
  </h2>

  <mat-dialog-content class="dialog-content">
    <div class="message">
      <p>{{ 'logout.confirmMessage' | translate }}</p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-stroked-button type="button" (click)="onCancel()">
      {{ 'cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" type="button" (click)="onConfirm()">
      {{ 'logout.confirm' | translate }}
    </button>
  </mat-dialog-actions>
</div>
