<div class="master-maintenance-container">
  <mat-card class="main-card">
    <mat-card-header>
      <div class="header-content">
        <ax-button variant="icon" (click)="goBack()" class="back-button">
          <ax-icon name="arrow_back"></ax-icon>
        </ax-button>
        <mat-card-title class="card-title">
          <ax-icon name="build" class="title-icon"></ax-icon>
          {{ 'master.maintenance' | translate }}
        </mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content class="main-content">
      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
          <ng-template matTabLabel>
            <span class="tab-label-content">
              <ax-icon name="storage" class="tab-icon"></ax-icon>
              <span>{{ 'master.maintenanceCategory.dataManagement' | translate }}</span>
            </span>
          </ng-template>
          <div class="tab-content">
            <div class="maintenance-cards-grid">
              @for (item of categories[0]?.items || []; track item.id) {
                <mat-card 
                  class="maintenance-card"
                  (click)="item.action()"
                  role="button"
                  tabindex="0"
                  (keydown.enter)="item.action()"
                  (keydown.space)="item.action()">
                  <mat-card-content>
                    <div class="maintenance-card-content">
                      <ax-icon [name]="item.icon" class="maintenance-card-icon"></ax-icon>
                      <h3 class="maintenance-card-title">{{ item.name }}</h3>
                      <p class="maintenance-card-description">{{ item.description }}</p>
                    </div>
                  </mat-card-content>
                </mat-card>
              }
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>
            <span class="tab-label-content">
              <ax-icon name="backup" class="tab-icon"></ax-icon>
              <span>{{ 'master.maintenanceCategory.backupRestore' | translate }}</span>
            </span>
          </ng-template>
          <div class="tab-content">
            <div class="maintenance-cards-grid">
              @for (item of categories[1]?.items || []; track item.id) {
                <mat-card 
                  class="maintenance-card"
                  (click)="item.action()"
                  role="button"
                  tabindex="0"
                  (keydown.enter)="item.action()"
                  (keydown.space)="item.action()">
                  <mat-card-content>
                    <div class="maintenance-card-content">
                      <ax-icon [name]="item.icon" class="maintenance-card-icon"></ax-icon>
                      <h3 class="maintenance-card-title">{{ item.name }}</h3>
                      <p class="maintenance-card-description">{{ item.description }}</p>
                    </div>
                  </mat-card-content>
                </mat-card>
              }
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>
            <span class="tab-label-content">
              <ax-icon name="verified" class="tab-icon"></ax-icon>
              <span>{{ 'master.maintenanceCategory.dataQuality' | translate }}</span>
            </span>
          </ng-template>
          <div class="tab-content">
            <div class="maintenance-cards-grid">
              @for (item of categories[2]?.items || []; track item.id) {
                <mat-card 
                  class="maintenance-card"
                  (click)="item.action()"
                  role="button"
                  tabindex="0"
                  (keydown.enter)="item.action()"
                  (keydown.space)="item.action()">
                  <mat-card-content>
                    <div class="maintenance-card-content">
                      <ax-icon [name]="item.icon" class="maintenance-card-icon"></ax-icon>
                      <h3 class="maintenance-card-title">{{ item.name }}</h3>
                      <p class="maintenance-card-description">{{ item.description }}</p>
                    </div>
                  </mat-card-content>
                </mat-card>
              }
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

