.theme-switcher-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep mat-menu-item {
  mat-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}
