<mat-form-field appearance="outline" class="language-select-field">
  @if (showLabel) {
    <mat-label>
      <ax-icon name="language" class="label-icon"></ax-icon>
      {{ 'changeLanguage' | translate }}
    </mat-label>
  }
  <mat-select
      #languageSelect
      [value]="currentLanguage"
      (selectionChange)="onLanguageChange($event.value)"
      class="language-select"
      [placeholder]="showLabel ? '' : ('changeLanguage' | translate)"
      panelClass="language-select-panel">
    @for (lang of languages; track lang.value) {
      <mat-option [value]="lang.value">
        <ax-icon name="flag" class="option-icon"></ax-icon>
        <span>{{ lang.label }}</span>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
