<mat-form-field appearance="outline" class="language-select-field">
  <mat-label *ngIf="showLabel">
    <mat-icon class="label-icon">language</mat-icon>
    {{ 'changeLanguage' | translate }}
  </mat-label>
  <mat-select 
    #languageSelect
    [value]="currentLanguage" 
    (selectionChange)="onLanguageChange($event.value)"
    class="language-select" 
    [placeholder]="showLabel ? '' : ('changeLanguage' | translate)"
    panelClass="language-select-panel">
    <mat-option *ngFor="let lang of languages" [value]="lang.value">
      <mat-icon class="option-icon">{{ lang.icon }}</mat-icon>
      <span>{{ lang.label | translate }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
