<div class="user-management-container">
  <mat-card class="main-card">
    <mat-card-header>
      <div class="header-content">
        <mat-card-title class="card-title">
          <mat-icon class="title-icon">people</mat-icon>
          {{ 'userManagementSystem' | i18n }}
        </mat-card-title>
        <app-language-switcher></app-language-switcher>
      </div>
    </mat-card-header>

    <mat-card-content>
      <!-- Add New User Button -->
      <div class="add-user-section">
        <button 
          mat-raised-button 
          color="primary" 
          (click)="openAddUserDialog()"
          class="add-user-button">
          <mat-icon>add</mat-icon>
          {{ 'addNewUser' | i18n }}
        </button>
      </div>

      <!-- User List Table -->
      <div class="table-container">
        <table mat-table [dataSource]="users" class="user-table">
          <!-- Last Name Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>{{ 'lastName' | i18n }}</th>
            <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
          </ng-container>

          <!-- First Name Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>{{ 'firstName' | i18n }}</th>
            <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
          </ng-container>

          <!-- Email Address Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>{{ 'emailAddress' | i18n }}</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
          </ng-container>

          <!-- JSON Data Column -->
          <ng-container matColumnDef="jsonData">
            <th mat-header-cell *matHeaderCellDef>{{ 'jsonData' | i18n }}</th>
            <td mat-cell *matCellDef="let user">
              <pre class="json-data">{{ formatJsonData(user.jsonData) }}</pre>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'actions' | i18n }}</th>
            <td mat-cell *matCellDef="let user">
              <div class="action-buttons">
                <button 
                  mat-icon-button 
                  color="primary" 
                  (click)="openEditUserDialog(user)"
                  [matTooltip]="'edit' | i18n"
                  class="edit-button">
                  <mat-icon>edit</mat-icon>
                </button>
                                          <button 
                            mat-icon-button 
                            color="warn" 
                            (click)="deleteUser(user)" 
                            [matTooltip]="'delete' | i18n"
                            class="delete-button">
                            <mat-icon>delete</mat-icon>
                          </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Display when no data -->
        <div *ngIf="users.length === 0 && !isLoading" class="no-data">
          <mat-icon class="no-data-icon">info</mat-icon>
          <p>{{ 'noUserData' | i18n }}</p>
          <button 
            mat-raised-button 
            color="primary" 
            (click)="openAddUserDialog()">
            <mat-icon>add</mat-icon>
            {{ 'addFirstUser' | i18n }}
          </button>
        </div>

        <!-- Loading Display -->
        <div *ngIf="isLoading" class="loading">
          <mat-spinner diameter="40"></mat-spinner>
          <p>{{ 'loadingData' | i18n }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
