<button 
  mat-icon-button 
  [matMenuTriggerFor]="languageMenu" 
  class="language-button"
  [matTooltip]="'changeLanguage' | translate">
  <mat-icon>language</mat-icon>
</button>

<mat-menu #languageMenu="matMenu">
  <button 
    mat-menu-item 
    (click)="switchLanguage('en')"
    [class.active]="languageService.isEnglish()">
    <mat-icon>flag</mat-icon>
    <span>English</span>
  </button>
  <button 
    mat-menu-item 
    (click)="switchLanguage('ja')"
    [class.active]="languageService.isJapanese()">
    <mat-icon>flag</mat-icon>
    <span>{{ 'japanese' | translate }}</span>
  </button>
</mat-menu>
